[submodule "firstmate"]
	path = firstmate
	url = https://github.com/kunchenguid/firstmate.git
[submodule "treehouse"]
	path = treehouse
	url = https://github.com/kunchenguid/treehouse.git
[submodule "no-mistakes"]
	path = no-mistakes
	url = https://github.com/kunchenguid/no-mistakes.git
[submodule "quota-axi"]
	path = quota-axi
	url = https://github.com/kunchenguid/quota-axi.git
